<% 
	let pageID;
	if(is_home()){
		pageID = 'main';
	} else {
		if(page.categories.find({name:'UIUX'}).length){
			pageID = 'uiux';
		} else {
			pageID = 'portfolio-gallery';
		}
	}

%>
<%- partial('_partial/head') %>
<body id="<%= pageID %>">
  <%- partial('_partial/nav') %>
  <%- body %>
  <%- partial('_partial/after-footer') %>
</body>
</html>